body {
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
   
}

#plot-form {
    margin: 20px 0;
}
.checkboxes{
    margin: 20px;
}
.checkboxes label {
    margin-right: 10px;
    
}

.dropdown {
    margin: 20px 0;
    
}
.discrete-date{
    margin-top: 10px;
}

.checkboxes{
    display: flex;
    flex-direction: row;
    align-items: left;
    margin-bottom: 20px;
    border: 1px solid #000;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
    width: 800px;
}
.checkbox-group {
    
    padding: 1px;
    width: 100px;
    margin: 20px auto;
    
}

.checkbox-group label {
    display: block;
    margin-bottom:10px;
}
#checkbox-group-4{
    width: 300px;
}
.checbox-master{
    margin-top: 30px;
}

input,.date-input,#x-axis{
    font-size: 20px;
}
#plot-Button {
    font-size: 20px;
}