body {
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin-top: 15px;
   
}

.xdate-container{
    display: flex;
    margin-left: 10px;
    width :80%
}
.flex-child{
    flex:1;
}


.date-input{
    display: block;
    float:left;
    margin: 8px;
}
.date-input-child{
    display: block;
}

#plot-form {
    margin: 20px 0;
}
.checkboxes{
    margin: 20px;
}
.checkboxes label {
    margin-right: 10px;
    
}

.dropdown {
    margin: 20px 0;
    
}
.discrete-date{
    margin-top: 10px;
}

.checkboxes{
    display: flex;
    flex-direction: row;
    align-items: left;
    margin-bottom: 20px;
    border: 1px solid #c0c0c0;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
    width: 800px;
}
.checkbox-group {
    
    padding: 1px;
    width: 100px;
    margin: 20px auto;
    
}

.checkbox-group label {
    display: block;
    margin-bottom:10px;
}
#checkbox-group-4{
    width: 300px;
}
.checbox-master{
    display: block;
    margin-top: 30px;
}


#plot-Button {
    font-size: 20px;
    width: 100px;
}

.checkbox-group .form-check-input{
    margin-right: 10px;
}

.navbar-brand{
    margin-left: 50px;
}
.navbar{
    position: fixed;
}
