<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trigonometric Function Plotter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>ILMT Dashboard</h1>
        <form id="plot-form">
            
            <div class="date-input">
                <label for="fdate">From:</label>
                <input type="date" id="fdate" name="fdate">

                <label for="tdate">To:</label>
                <input type="date" id="todate" name="tdate">

                <div class="discrete-date">
                    <label for="discdate">Discreet Dates:</label>
                    <input type="text" id="ddates" name="discdate"></br>
                    <font size = "1" color ="red"> *Dates should be given in the yyyy/mm/dd format. Seperated by comma.</font>
                </div>


            </div>
            


            <div class="checkboxes">
                <label><input type="checkbox" name="function" value="sin"> sin</label>
                <label><input type="checkbox" name="function" value="cos"> cos</label>
                <label><input type="checkbox" name="function" value="fwhm">FWHM</label>
            </div>
            <div class="dropdown">
                <label for="x-range">X-Axis Range:</label>
                <select id="x-range" name="x-range">
                    <option value="90">0 to 90</option>
                    <option value="360">0 to 360</option>
                </select>
            </div>
            <button type="submit">Plot</button>
        </form>
        <div id="plot"></div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
